<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <style>
            .border {
              display: inline-block;
              justify-content: center;
              width: 400px;
              height: 302px;
              
            }
            </style>
    </head>
    <body >
        <center>
        <div class="container-fluid justify-content-center" 
        style="background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
               height: 100vh;background-position-x: initial;background-repeat: no-repeat;background-size: cover; ">
        <style>
        *{
            margin-top: 0px;
        }
        </style>.
   
        
        <div class="container mt-5 p-5 ">
        <div class="border">
        <div class="text-center ">
        <div class="card">
        <div class="card-body">
            
        <h4 style="color: green;">Login/Sign In</h4>
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="container justify-content-center"> <input type="text" placeholder="username" name="username"></div>
            <br>
            <div class="container justify-content-center"><input type="password" placeholder="password" name="password"></div>
            <br>
            <input type="submit" class="btn btn-outline-success" value="Login">
            

            <br><br>
        </form>
        
        <p class="text-center">Don't have an account? 
            <a href="register" style="color:green">Create an account</a>.</p>
        <script src="" async defer></script>
        </div>
        </div>
        
        </div>
        </div>
    </div>
    </div>
</center>
    </body>
</html>
